<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <import resource="market_data_input_beans.xml"></import>

    <bean id="paperTradingEngineConfiguration"
          class="com.lambda.investing.trading_engine_connector.paper.PaperTradingEngineConfiguration"/>


    <bean id="zeroMqconnectorConfigurationMarketData"
          class="com.lambda.investing.connector.zero_mq.ZeroMqConfiguration">
        <property name="port" value="666"/>
        <property name="host" value="localhost"/>
    </bean>

    <bean id="zeroMqconnectorConfigurationOrderRequest"
          class="com.lambda.investing.connector.zero_mq.ZeroMqConfiguration">
        <property name="port" value="667"/>
        <property name="host" value="localhost"/>
    </bean>

    <bean id="zeroMqconnectorMarketDataPublisher" class="com.lambda.investing.connector.zero_mq.ZeroMqPublisher">
        <constructor-arg index="0" value="zeroMqPublisher"/>

        <!--number of threads publishing MD and trades -->
        <constructor-arg index="1" value="0"/>
    </bean>

    <bean id="zeroMqconnectorProviderOrderRequest" class="com.lambda.investing.connector.zero_mq.ZeroMqProvider"
          factory-method="getInstance">
        <constructor-arg index="0" ref="zeroMqconnectorConfigurationOrderRequest"/>
        <constructor-arg index="1" value="1"/><!-- Threads listening Orders-->
    </bean>


    <bean id="paperConnectorMarketDataAndExecutionReportPublisher"
          class="com.lambda.investing.trading_engine_connector.paper.PaperConnectorPublisher">
        <constructor-arg index="0" ref="zeroMqconnectorConfigurationMarketData"/>
        <constructor-arg index="1" ref="zeroMqconnectorMarketDataPublisher"/>
    </bean>


    <bean id="paperTradingEngine"
          class="com.lambda.investing.trading_engine_connector.ZeroMqTradingEngineConnector" init-method="start">
        <constructor-arg index="0" value="paperTradingEngine"/>
        <constructor-arg index="1" value="1"/><!--threads publishing OrderRequest-->
        <constructor-arg index="2" value="1"/><!--threads listening ExecutionReports-->
        <constructor-arg index="3"
                         ref="zeroMqconnectorConfigurationMarketData"/><!--zeroMqConfigurationExecutionReportListening = market data -->
        <constructor-arg index="4" ref="zeroMqconnectorConfigurationMarketData"/><!--zeroMqConfigurationOrderRequest-->
    </bean>

    <bean id="paperTradingEngineConnector"
          class="com.lambda.investing.trading_engine_connector.paper.PaperExecutionReportConnectorPublisher"
          init-method="init"
          depends-on="paperConnectorMarketDataAndExecutionReportPublisher">
        <constructor-arg index="0" ref="paperTradingEngine"/>
        <constructor-arg index="1" ref="ordinaryMarketDateProvider"/>
        <constructor-arg index="2" ref="zeroMqconnectorProviderOrderRequest"/>
        <constructor-arg index="3" ref="zeroMqconnectorConfigurationOrderRequest"/>
        <property name="paperConnectorMarketDataAndExecutionReportPublisher"
                  ref="paperConnectorMarketDataAndExecutionReportPublisher"/>
        <property name="instrumentsList" ref="instrument1"/>
    </bean>


</beans>